*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.margin{
  margin-right: 30px;
}

.banner {
  height: 100vh;
  background:
    linear-gradient(rgb(0, 0, 0, 0.75), rgba(0, 0, 0, 0.9)), url("bg.jpg");
  background-size: cover;
  background-position: center;
}

.hovered-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.icon-service {
  width: 90px;
  height: 90px;
  border: solid 2px #fff;
  border-radius: 50%;
  color: #ffff;
}

@media (min-width: 360px) and (max-width: 600px) {
  .card {
    width: 45%;
    justify-content: center;
    margin: 2rem auto;
    display: flex;
  }
}
